respawnTemplates[] = { "Counter","MenuPosition", "MenuInventory", "Spectator" };
respawnOnStart = -1;
respawn = 3;
respawnDialog = 0;
respawnDelay = 15;

class CfgRoles
{
    #include "Loadouts\Roles_NATO.cfg"    
};

class CfgRespawnInventory
{
    #include "Loadouts\Loadouts_NATO.cfg"
    #include "Loadouts\Loadouts_NATO_night.cfg"    
};
